# data and models
MNIST/*
wandb/*
inductive-bias/*


# logs
logs/*
lightning_logs/*

# results and saved models
*results/*
*saved_models/*
*checkpoints/*
dummy/
notebooks/artifacts/*

# python extras
__pycache__/
*.pyc
*.cpython*
.venv/
